<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Bootstrap CSS -->
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> #}

    <title>Hello, world!</title>
</head>
<body>
{##}
{{ transaction }}
{% set arTransaction = transaction[0] %}

<body class="bg-gray-50 dark:bg-slate-900">
  <!-- Invoice -->
  <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">
    <div class="mx-auto sm:w-11/12 lg:w-3/4">
      <!-- Card -->
      <div class="flex flex-col p-4 bg-white shadow-md sm:p-10 rounded-xl dark:bg-gray-800">
        <!-- Grid -->
        <div class="flex justify-between">
          <div>
            <svg class="w-10 h-10" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 26V13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13C25 19.6274 19.6274 25 13 25H12" class="stroke-blue-600 dark:stroke-white" stroke="currentColor" stroke-width="2"/>
              <path d="M5 26V13.16C5 8.65336 8.58172 5 13 5C17.4183 5 21 8.65336 21 13.16C21 17.6666 17.4183 21.32 13 21.32H12" class="stroke-blue-600 dark:stroke-white" stroke="currentColor" stroke-width="2"/>
              <circle cx="13" cy="13.0214" r="5" fill="currentColor" class="fill-blue-600 dark:fill-white"/>
            </svg>

            <h1 class="mt-2 text-lg font-semibold text-blue-600 md:text-xl dark:text-white">Preline Inc.</h1>
          </div>
          <!-- Col -->

          <div class="text-right">
            <h2 class="text-2xl font-semibold text-gray-800 md:text-3xl dark:text-gray-200">Invoice #</h2>
            <span class="block mt-1 text-gray-500">3682303</span>

            <address class="mt-4 not-italic text-gray-800 dark:text-gray-200">
              45 Roker Terrace<br>
              Latheronwheel<br>
              KW5 8NW, London<br>
              United Kingdom<br>
            </address>
          </div>
          <!-- Col -->
        </div>
        <!-- End Grid -->

        <!-- Grid -->
        <div class="grid gap-3 mt-8 sm:grid-cols-2">
          <div>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Bill to:</h3>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Sara Williams</h3>
            <address class="mt-2 not-italic text-gray-500">
              280 Suzanne Throughway,<br>
              Breannabury, OR 45801,<br>
              United States<br>
            </address>
          </div>
          <!-- Col -->

          <div class="space-y-2 sm:text-right">
            <!-- Grid -->
            <div class="grid grid-cols-2 gap-3 sm:grid-cols-1 sm:gap-2">
              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Invoice date:</dt>
                <dd class="col-span-2 text-gray-500">03/10/2018</dd>
              </dl>
              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Due date:</dt>
                <dd class="col-span-2 text-gray-500">03/11/2018</dd>
              </dl>
            </div>
            <!-- End Grid -->
          </div>
          <!-- Col -->
        </div>
        <!-- End Grid -->

        <!-- Table -->
        <div class="mt-6">
          <div class="p-4 space-y-4 border border-gray-200 rounded-lg dark:border-gray-700">
            <div class="hidden sm:grid sm:grid-cols-5">
              <div class="text-xs font-medium text-gray-500 uppercase sm:col-span-2">Item</div>
              <div class="text-xs font-medium text-left text-gray-500 uppercase">Qty</div>
              <div class="text-xs font-medium text-left text-gray-500 uppercase">Rate</div>
              <div class="text-xs font-medium text-right text-gray-500 uppercase">Amount</div>
            </div>

            <div class="hidden border-b border-gray-200 sm:block dark:border-gray-700"></div>

            <div class="grid grid-cols-3 gap-2 sm:grid-cols-5">
              <div class="col-span-full sm:col-span-2">
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Item</h5>
                <p class="font-medium text-gray-800 dark:text-gray-200">Design UX and UI</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Qty</h5>
                <p class="text-gray-800 dark:text-gray-200">1</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Rate</h5>
                <p class="text-gray-800 dark:text-gray-200">5</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Amount</h5>
                <p class="text-gray-800 sm:text-right dark:text-gray-200">$500</p>
              </div>
            </div>

            <div class="border-b border-gray-200 sm:hidden dark:border-gray-700"></div>

            <div class="grid grid-cols-3 gap-2 sm:grid-cols-5">
              <div class="col-span-full sm:col-span-2">
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Item</h5>
                <p class="font-medium text-gray-800 dark:text-gray-200">Web project</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Qty</h5>
                <p class="text-gray-800 dark:text-gray-200">1</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Rate</h5>
                <p class="text-gray-800 dark:text-gray-200">24</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Amount</h5>
                <p class="text-gray-800 sm:text-right dark:text-gray-200">$1250</p>
              </div>
            </div>

            <div class="border-b border-gray-200 sm:hidden dark:border-gray-700"></div>

            <div class="grid grid-cols-3 gap-2 sm:grid-cols-5">
              <div class="col-span-full sm:col-span-2">
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Item</h5>
                <p class="font-medium text-gray-800 dark:text-gray-200">SEO</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Qty</h5>
                <p class="text-gray-800 dark:text-gray-200">1</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Rate</h5>
                <p class="text-gray-800 dark:text-gray-200">6</p>
              </div>
              <div>
                <h5 class="text-xs font-medium text-gray-500 uppercase sm:hidden">Amount</h5>
                <p class="text-gray-800 sm:text-right dark:text-gray-200">$2000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Table -->

        <!-- Flex -->
        <div class="flex mt-8 sm:justify-end">
          <div class="w-full max-w-2xl space-y-2 sm:text-right">
            <!-- Grid -->
            <div class="grid grid-cols-2 gap-3 sm:grid-cols-1 sm:gap-2">
              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Subtotal:</dt>
                <dd class="col-span-2 text-gray-500">$2750.00</dd>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Total:</dt>
                <dd class="col-span-2 text-gray-500">$2750.00</dd>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Tax:</dt>
                <dd class="col-span-2 text-gray-500">$39.00</dd>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Amount paid:</dt>
                <dd class="col-span-2 text-gray-500">$2789.00</dd>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Due balance:</dt>
                <dd class="col-span-2 text-gray-500">$0.00</dd>
              </dl>
            </div>
            <!-- End Grid -->
          </div>
        </div>
        <!-- End Flex -->

        <div class="mt-8 sm:mt-12">
          <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Thank you!</h4>
          <p class="text-gray-500">If you have any questions concerning this invoice, use the following contact information:</p>
          <div class="mt-2">
            <p class="block text-sm font-medium text-gray-800 dark:text-gray-200">example@site.com</p>
            <p class="block text-sm font-medium text-gray-800 dark:text-gray-200">+1 (062) 109-9222</p>
          </div>
        </div>

        <p class="mt-5 text-sm text-gray-500">© 2022 Preline.</p>
      </div>
      <!-- End Card -->

      <!-- Buttons -->
      <div class="flex justify-end mt-6 gap-x-3">
        <a class="inline-flex justify-center items-center gap-x-3 text-sm text-center border hover:border-gray-300 shadow-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:border-gray-800 dark:hover:border-gray-600 dark:shadow-slate-700/[.7] dark:text-white dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800" href="#">
          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
          </svg>
          PDF
        </a>
        <a class="inline-flex items-center justify-center px-4 py-3 text-sm font-medium text-center text-white transition bg-blue-600 border border-transparent rounded-md gap-x-3 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-gray-800" href="#">
          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
          </svg>
          Print details
        </a>
      </div>
      <!-- End Buttons -->
    </div>
  </div>
  <!-- End Invoice -->
</body>

{# {{ dump(arTransaction.getData()) }} #}
<div class="container">

    <div class="row">
        <div class="col-auto mr-auto">

        </div>
        <div class="col-auto">
            {% if showEditButton == 1 %}
            <a class="mb-20 float-ritht no-print lezada-button lezada-button--medium lezada-button--icon lezada-button--icon--right" href="/backend/lovata/ordersshopaholic/orders/update/{{ arTransaction.id }}">{{ 'Open order'|_ }}</a>
            <a onclick="window.print()" class="mb-20 float-ritht no-print lezada-button lezada-button--medium lezada-button--icon lezada-button--icon--right" href="#">{{ 'Print Proforma'|_ }}</a>
            {% else %}
            <a onclick="window.print()" class="mb-20 float-ritht no-print lezada-button lezada-button--medium lezada-button--icon lezada-button--icon--right" href="#">{{ 'Print Proforma'|_ }}</a>
            {% endif %}
        </div>
    </div>

    <div class="card">

        <div class="card-header">
            {% if arTransaction.active %}
            <strong class="text-primary">
                {{ 'The proforma invoice has been paid'|_ }}
            </strong>
            {% else %}
            <strong class="text-warning">
                {{ 'Payment not yet received'|_ }} {{transaction.active}}
            </strong>
            {% endif %}
            <span class="float-right"> <strong>{{ 'Order status'|_ }}:</strong> {{ arTransaction.status.name }}<br>{{ arTransaction.status.preview_text }}

        </div>
        <div class="card-body">
            <div class="mb-4 row">
                <div class="col-sm-6">
                    <div>
                        {{ 'Phone number'|_ }} <a href="tel:0037120004588" class="text-primary">+371 2000 45 88</a>
                    </div>
                    <div><a href="mailto:info@manikirs.lv" class="text-primary">info@manikirs.lv</a></div>
                    <div><a href="{{  url('/') }}" class="text-primary">{{  url('/') }}</a></div>
                    <div class="pt-4"></div>
                    <div></div>
                    <div></div>
                </div>

                <div class="col-sm-6">
                    <div class="pb-40">
                        <a href="{{ url('/') }}" class="float-right pb-40">
                            <svg style="width: 210px; height: 50px;" class="icon icon-NAI_S-logo-black"><use xlink:href="/themes/naisstore/assets/svg/symbol-defs.svg#icon-NAI_S-logo-black"></use></svg>
                        </a>
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="col-lg-12 table-responsive">
                    <table class="table table-borderless table-sm font-weight-normal">
                        <tbody>
                        <tr>
                            <th class="font-weight-normal">{{ 'Proforma invoice No'|_ }}: <b>{{ "now"|date("Y") }}-000{{ arTransaction.id }}</b></th>
                            <th class="" style="width:40px"></th>
                            <th class="font-weight-normal">
                                {% if arTransaction.active %}
                                <strong class="text-primary">
                                    {{ 'Payment received'|_ }}
                                </strong>
                                {% else %}
                                {{ 'Pay by date'|_ }}: <b>{{ arTransaction.created_at|date_modify("+3 day")|date("d.M.Y H:m") }}
                                {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <td class="font-weight-normal">{{ 'Order date'|_ }}: {{ arTransaction.created_at|date("d.M.Y H:m") }}</td>
                            <th class="" style="width:40px"></th>
                            <td class="font-weight-normal">{{ 'Payment Method'|_ }}:
                                {% if arTransaction.type == 'bank' %}
                                <s>{{ arTransaction.type|title  }}</s><br><b>{{ 'Through direct Bank transfer'|_ }} </b>
                                {% else %}
                                {{ arTransaction.type|title  }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-white font-weight-normal">{{ 'Proforma invoice printed'|_ }}: {{ 'now'|date("d.M.Y H:m:s")}}</td>
                            <th class="" style="width:40px"></th>
                            <td class="font-weight-normal">{# {{ 'Payment Method'|_ }}: {{ arTransaction.type|title }} #}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="mb-4 row">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-borderless table-sm font-weight-normal">
                        <tbody>
                        <tr>
                            <th class="" style="background-color: #9ecf5d; border-top: #000000 1px solid;">{{ 'SCHOOL'|_ }}:</th>
                            <th class="" style="width:40px"></th>
                            <th class="" style="background-color: #9ecf5d; border-top: #000000 1px solid;">{{ 'CUSTOMER'|_ }}:</th>
                        </tr>
                        <tr>
                            <td class="font-weight-normal">{{ 'Seller'|_}}: <b>{{  arTransaction.property.account_type == 'legal_person' ? this.theme.secondary_print_invoice_seller : this.theme.print_invoice_seller }}</b></td>
                            <th class="" style="width:40px"></th>
                            <td class="font-weight-normal">{{'Buyer'|_}}: <b>{{ arTransaction.reservation.student.name }} {{ arTransaction.reservation.student.surname }} </b> <a href="tel:{{ arTransaction.reservation.student.phone }}" class="text-primary">{{ arTransaction.reservation.student.phone }}</a>, {{ arTransaction.reservation.student.email }}</td>
                        </tr>
                        <tr>
                            <th class="font-weight-normal">{{ 'Legal address'|_ }}: {{  arTransaction.property.account_type == 'legal_person' ? this.theme.secondary_print_invoice_legal_address : this.theme.print_invoice_legal_address }}</th>
                            <th class="" style="width:40px"></th>
<!--                            <td class="font-weight-normal">{{ 'Shipping type'|_ }}: {{ arTransaction.shipping_type.name }}</td>-->
                        </tr>
                        <tr>
                            <th class="font-weight-normal">{{'Bank name'|_}}: {{  arTransaction.property.account_type == 'legal_person' ? this.theme.secondary_print_invoice_bank_swift : this.theme.print_invoice_bank_swift }}</th>
                            <th class="" style="width:40px"></th>
<!--                                <td class="font-weight-normal">{{ 'Shipping Address'|_ }}: {{ arTransaction.property.shipping_address2|replace({'undefined': ' ', 'NaN': ' ', '- BEZMAKSAS': ' '}) }}-->
<!--                                </td>-->
                        </tr>
                        <tr>
                            <th class="font-weight-normal">{{ 'Account:'|_ }} {{  arTransaction.property.account_type == 'legal_person' ? this.theme.secondary_print_invoice_bank_accont : this.theme.print_invoice_bank_accont }}, EUR</th>
                            <th class="" style="width:40px"></th>
                            <td class="font-weight-normal"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr >
                        <th class="pt-0 pb-0 text-center align-middle font-weight-bold bg-primary border-dark font-weight-normal" style="width:50px; border: 1px dotted;">{{ 'No'|_ }}.</th>
                        <th class="pt-0 pb-0 text-center align-middle font-weight-bold bg-primary border-dark font-weight-normal" style="width:250px; border: 1px dotted;">{{'Product'|_}}</th>
                        <th class="pt-0 pb-0 text-center align-middle font-weight-bold bg-primary border-dark font-weight-normal" style="width:70px; border: 1px dotted;">{{'pcs'|_}}</th>

                        <th class="pt-0 pb-0 text-center align-middle font-weight-bold bg-primary border-dark font-weight-normal" style="width:80px; border: 1px dotted;">{{ 'Price/pc., EUR'|_ }}</th>
                        <th class="pt-0 pb-0 text-center align-middle font-weight-bold bg-primary border-dark font-weight-normal" style="width:80px; border: 1px dotted;">{{ 'Discount,%'|_ }}</th>
                        <th class="pt-0 pb-0 text-center align-middle font-weight-bold bg-primary border-dark font-weight-normal" style="width:150px; border: 1px dotted;">{{ 'Price/pc. with discount, EUR'|_ }}</th>
                        <th class="pt-0 pb-0 text-center align-middle font-weight-bold bg-primary border-dark font-weight-normal" style="width:100px; border: 1px dotted;">{{ 'Amount, EUR'|_ }}</th>
                    </tr>
                    </thead>
                    <tbody>




                    <tr>
                        <td class="pt-5 pb-5 text-center border-dark font-weight-normal" style="border: 1px dotted;">1</td>
                        <td class="pt-5 pb-5 border-dark font-weight-normal" style="border: 1px dotted;">{{ arTransaction.reservation.name }}</td>
                        <td class="pt-5 pb-5 text-right border-dark font-weight-normal" style="border: 1px dotted;">1 {{ 'pcs'|_ }}</td>

                        <td class="pt-5 pb-5 text-center border-dark font-weight-normal" style="border: 1px dotted;">{{ arTransaction.reservation.old_price    }}</td>
                        <td class="pt-5 pb-5 text-center border-dark font-weight-normal" style="border: 1px dotted;"> {{ (arTransaction.reservation.old_price - arTransaction.reservation.price) }}</td>
                        asdas
                        <td class="pt-5 pb-5 text-center border-dark font-weight-normal" style="border: 1px dotted;">{{ arTransaction.reservation.price }}</td>
                        <td class="pt-5 pb-5 text-right border-dark font-weight-normal" style="border: 1px dotted;">{{ arTransaction.reservation.price }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-5">
                    <table class="table table-clear">
                        <tbody>
                        {% for arPayments in arTransaction.parent.children %}
                        <tr>
                            <td class="left">
                                <strong>{{ "now"|date("Y") }}-000{{ arTransaction.id }}</strong> {{ arPayments.id }}
                            </td>
                            <td class="text-right">

                                    <span class="text-right">
                                        <span class="cart__total-position-price-currency">+ </span>
                                        <span class="cart__total-position-price-without-tax-value">€{{ arPayments.debit }}</span>
                                    </span>
                            </td>
                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>

                <div class="ml-auto col-lg-4 col-sm-5">
                    <table class="table table-clear">
                        <tbody>
                        <tr>
                            <td class="left">
                                <strong>{{ 'Total'|_ }}</strong>
                            </td>
                            <td class="text-right">
                                    <span class="text-right cart__total-position-old-price text-muted">
                                        <s class="cart__total-position-old-price-currency">€</s>
                                        <s class="cart__total-position-old-price-value">{{ arTransaction.reservation.old_price    }}</s>
                                    </span>
                                <span class="text-right">
                                        <span class="cart__total-position-price-currency">€</span>
                                        <span class="cart__total-position-price-without-tax-value">{{ arTransaction.parent.credit }}</span>
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <strong>{{ 'Total paid'|_ }}</strong>
                            </td>
                          help  {{ arTransaction.parent.children|length }}
                            <td class="text-right">
                                    <span class="text-right cart__total-position-old-price text-muted">
                                        <s class="cart__total-position-old-price-currency">€</s>
                                        <s class="cart__total-position-old-price-value">{{ arTransaction.old_shipping_price }}</s>
                                    </span>
                                <span class="text-right cart__total-position-current-price">
                                        <span class="cart__total-position-price-currency">€</span>
                                        <span class="cart__total-position-price-without-tax-value">{{ arTransaction.shipping_price }}</span>
                                    </span>
                            </td>
                        </tr>
                        {# <tr>
                            <td class="left">
                                <strong>Discount (20%)</strong>
                            </td>
                            <td class="text-right">$1,699,40</td>
                        </tr>
                        <tr>
                            <td class="left">
                                <strong>VAT (10%)</strong>
                            </td>
                            <td class="text-right">$679,76</td>
                        </tr> #}
                        <tr>
                            <td class="left">
                                <strong>{{ 'Grand total'|_ }}</strong>
                            </td>
                            <td class="text-right">
                                <strong>
                                    <span class="text-right cart__total-price-old-price text-muted">
                                        <s class="cart__total-price-old-price-currency">€</s>
                                        <s class="cart__total-old-price-value {% if arTransaction.discount_total_price == 0 %}d-none{% endif %}">{{ arTransaction.old_total_price }} </s>
                                    </span>
                                    <span class="text-right cart__total-price-current-price">
                                        <span class="cart__total-price-price-currency">€</span>
                                        <span class="cart__total-price-price-value">{{ arTransaction.total_price }}</span>
                                    </span>
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="border alert" role="alert">
                        <b>{{ 'Notes'|_ }}:</b>
                        {{ 'When making a payment through a bank, please specify Order No: :order_id in the payment purpose so that your order is processed in a timely manner.'|_({ 'order_id' :  arTransaction.order_number }) }}
                        <hr>
                        {{ '<b>This proforma invoice has been prepared electronically and is valid without  a signature</b> in accordance <a href="https://likumi.lv/ta/id/66460#p7.1" targe t="_blank">with the Law "On Accounting", part 7.1.</a>'|_ }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
